In [1]:
import pandas as pd
import numpy as np
import os

print("Package is ready.")

Package is ready.

## Data classifying

In [2]:
raw_df = pd.read_csv("../../data/BR_env/forced_env.csv", index_col=["Unnamed: 0"])
raw_df = pd.DataFrame(raw_df, dtype="float")

In [3]:
INTERVAL = '10 min'
START_DATE = '2016-10-02 00:00'
END_DATE = raw_df.index[-1]
COMPRESSED_RANGE = pd.date_range(START_DATE, END_DATE, freq=INTERVAL)
TIME_STEPS = 144
OUTPUT_SIZE = 12

EXPLANATION = "Allenv_MT-LN-LSTM" "_T" + str(TIME_STEPS) + "_I" + INTERVAL

In [4]:
weather_df = raw_df[[col for col in raw_df.columns if '.w' in col]]
soil_df = raw_df[[col for col in raw_df.columns if 's_' in col]]
greenhouse_df = raw_df.drop([col for col in raw_df.columns if '.w' in col], axis=1)
greenhouse_df = greenhouse_df.drop([col for col in raw_df.columns if 's_' in col], axis=1)

In [5]:
new_coloumns = []
for col in greenhouse_df.columns:
    new_coloumns.append(col.split(".")[0])
greenhouse_df.columns = new_coloumns

new_coloumns = []
for col in soil_df.columns:
    new_coloumns.append(col.split(".")[0])
soil_df.columns = new_coloumns

In [6]:
greenhouse_df = greenhouse_df.groupby(greenhouse_df.columns, axis=1, sort=False).mean()
soil_df = soil_df.groupby(soil_df.columns, axis=1, sort=False).mean()

raw_df = pd.concat([greenhouse_df, soil_df, weather_df], axis=1)

In [7]:
raw_df.index = pd.DatetimeIndex(raw_df.index)
raw_df = raw_df.reindex(COMPRESSED_RANGE)

In [8]:
raw_label = raw_df[[col for col in list(greenhouse_df.columns) + list(soil_df.columns)]]
raw_label.index = pd.DatetimeIndex(raw_label.index)

In [9]:
raw_label = raw_label.drop(["ec", "atm", "uv"], axis=1)

In [10]:
raw_label

,temp,rh,co2,rad,s_temp,s_rh
2016-10-02 00:00:00,24.741111,79.428889,598.255556,0.222222,25.066667,30.450000
2016-10-02 00:10:00,24.741111,79.428889,598.255556,0.222222,25.066667,30.450000
2016-10-02 00:20:00,23.952222,82.173333,600.700000,0.111111,25.033333,30.450000
2016-10-02 00:30:00,23.641111,83.528889,605.033333,0.222222,25.033333,30.450000
2016-10-02 00:40:00,24.374444,82.117778,614.033333,0.222222,25.033333,30.450000
2016-10-02 00:50:00,25.607778,77.251111,609.477778,0.111111,25.033333,30.433333
2016-10-02 01:00:00,25.030000,78.595556,606.811111,0.111111,25.066667,30.433333
2016-10-02 01:10:00,24.263333,81.117778,609.700000,0.222222,25.016667,30.450000
2016-10-02 01:20:00,23.607778,83.462222,617.811111,0.111111,25.033333,30.450000
2016-10-02 01:30:00,23.885556,83.195556,622.477778,0.222222,25.000000,30.450000
2016-10-02 01:40:00,25.552222,78.306667,620.700000,0.000000,25.000000,30.433333
2016-10-02 01:50:00,25.185556,78.384444,618.588889,0.111111,25.000000,30.433333
2016-10-02 02:00:00,24.374444,80.751111,621.811111,0.222222,24.983333,30.433333
2016-10-02 02:10:00,23.796667,82.551111,625.144444,0.222222,24.983333,30.450000
2016-10-02 02:20:00,23.763333,82.940000,629.366667,0.111111,24.983333,30.450000
2016-10-02 02:30:00,25.474444,78.506667,633.477778,0.111111,24.983333,30.433333
2016-10-02 02:40:00,25.652222,76.984444,629.922222,0.111111,24.983333,30.433333
2016-10-02 02:50:00,24.507778,80.406667,633.922222,0.000000,24.983333,30.433333
2016-10-02 03:00:00,23.818889,82.584444,634.700000,0.222222,24.983333,30.433333
2016-10-02 03:10:00,23.830000,82.762222,640.922222,0.222222,25.000000,30.433333
2016-10-02 03:20:00,24.618889,81.084444,645.255556,0.111111,24.983333,30.433333
2016-10-02 03:30:00,25.585556,77.328889,637.811111,0.222222,24.966667,30.433333
2016-10-02 03:40:00,24.930000,78.951111,638.366667,0.111111,24.983333,30.433333
2016-10-02 03:50:00,23.963333,82.017778,646.811111,0.111111,24.966667,30.433333
2016-10-02 04:00:00,23.874444,82.373333,647.922222,0.111111,24.966667,30.433333
2016-10-02 04:10:00,24.285556,81.884444,654.255556,0.222222,24.966667,30.433333
2016-10-02 04:20:00,25.674444,76.851111,654.144444,0.111111,24.966667,30.433333
2016-10-02 04:30:00,24.941111,78.451111,653.255556,0.222222,24.966667,30.433333
2016-10-02 04:40:00,24.085556,81.073333,656.366667,0.111111,24.966667,30.433333
2016-10-02 04:50:00,23.807778,82.206667,659.700000,0.222222,24.966667,30.433333
...,...,...,...,...,...,...
2018-05-31 19:00:00,22.577778,59.344444,416.666667,1047.333333,23.550000,9.200000
2018-05-31 19:10:00,22.300000,53.788889,413.444444,758.000000,23.516667,9.216667
2018-05-31 19:20:00,20.733333,51.455556,413.444444,500.333333,23.533333,9.216667
2018-05-31 19:30:00,18.855556,51.066667,423.111111,264.444444,23.566667,9.200000
2018-05-31 19:40:00,17.355556,53.066667,427.111111,24.111111,23.566667,9.183333
2018-05-31 19:50:00,16.333333,52.711111,433.000000,6.444444,23.500000,9.183333
2018-05-31 20:00:00,15.511111,53.677778,432.222222,1.333333,23.450000,9.183333
2018-05-31 20:10:00,14.777778,54.655556,435.444444,0.222222,23.400000,9.200000
2018-05-31 20:20:00,14.255556,56.244444,441.000000,0.111111,23.350000,9.200000
2018-05-31 20:30:00,13.755556,55.277778,441.777778,0.222222,23.250000,9.183333
2018-05-31 20:40:00,13.416667,58.455556,445.888889,0.111111,23.133333,9.183333
2018-05-31 20:50:00,13.311111,56.300000,446.222222,0.222222,23.050000,9.183333
2018-05-31 21:00:00,12.900000,57.900000,448.222222,0.222222,22.933333,9.166667
2018-05-31 21:10:00,12.777778,57.555556,450.222222,0.111111,22.816667,9.166667
2018-05-31 21:20:00,13.222222,59.800000,451.333333,0.111111,22.650000,9.150000
2018-05-31 21:30:00,13.044444,58.444444,450.111111,0.111111,22.583333,9.133333
2018-05-31 21:40:00,12.711111,55.988889,455.111111,0.222222,22.500000,9.116667
2018-05-31 21:50:00,12.855556,58.744444,454.333333,0.111111,22.366667,9.116667
2018-05-31 22:00:00,13.555556,57.822222,451.666667,0.111111,22.216667,9.083333
2018-05-31 22:10:00,12.822222,55.566667,451.888889,0.111111,22.100000,9.066667
2018-05-31 22:20:00,12.955556,59.188889,455.777778,0.222222,21.900000,9.083333
2018-05-31 22:30:00,12.866667,55.522222,453.777778,0.222222,21.750000,9.066667
2018-05-31 22:40:00,12.644444,58.255556,459.444444,0.222222,21.650000,9.033333
2018-05-31 22:50:00,13.044444,57.177778,460.000000,0.111111,21.483333,9.050000
2018-05-31 23:00:00,13.027778,56.644444,458.333333,0.111111,21.383333,9.033333
2018-05-31 23:10:00,12.588889,58.588889,463.444444,0.111111,21.200000,9.033333
2018-05-31 23:20:00,13.094444,59.211111,463.333333,0.111111,21.133333,9.016667
2018-05-31 23:30:00,13.022222,56.222222,460.333333,0.222222,20.950000,9.016667
2018-05-31 23:40:00,12.700000,59.277778,466.111111,0.111111,20.833333,8.966667
2018-05-31 23:50:00,13.511111,59.822222,463.222222,0.000000,20.650000,8.966667

In [10]:
MAXS = raw_df.max()
MINS = raw_df.min()
LABELMAXS = raw_label.max()
LABELMINS = raw_label.min()
raw_df = (raw_df - MINS) / (MAXS - MINS)
raw_label = (raw_label - LABELMINS) / (LABELMAXS - LABELMINS)

In [11]:
raw_input = raw_df.copy()
raw_input.index = pd.DatetimeIndex(raw_input.index)

In [12]:
TRAIN_RANGE = raw_label.index
TRAIN_RANGE = TRAIN_RANGE[TIME_STEPS:-OUTPUT_SIZE]

start_input = TRAIN_RANGE - pd.Timedelta(INTERVAL*(TIME_STEPS))
end_input = TRAIN_RANGE - pd.Timedelta(INTERVAL)
start_output = TRAIN_RANGE
end_output = TRAIN_RANGE + pd.Timedelta(INTERVAL*(OUTPUT_SIZE-1))

In [13]:
rnn_input = []
rnn_label = []

for i in range(len(TRAIN_RANGE)):
    input_range = pd.date_range(start_input[i], end_input[i], freq=INTERVAL)
    label_range = pd.date_range(start_output[i], end_output[i], freq=INTERVAL)
    
    rnn_input.append(raw_input.loc[input_range].values)
    rnn_label.append(raw_label.loc[label_range].values)
    
    
    if i % 10000 == 0:
        print("%6d/%6d" % (i, len(TRAIN_RANGE)))
    
print("%6d/%6d" % (i+1, len(TRAIN_RANGE)))
print("Process ended.")

     0/ 87252
 10000/ 87252
 20000/ 87252
 30000/ 87252
 40000/ 87252
 50000/ 87252
 60000/ 87252
 70000/ 87252
 80000/ 87252
 87252/ 87252
Process ended.

In [14]:
rnn_input = np.asarray(rnn_input)
rnn_label = np.asarray(rnn_label)

In [15]:
print("Input shape: ", end=""); print(rnn_input.shape)
print("Label shape: ", end=""); print(rnn_label.shape)
print("Type: %s" % type(rnn_input))

Input shape: (87252, 144, 15)
Label shape: (87252, 12, 6)
Type: <class 'numpy.ndarray'>

In [16]:
if not os.path.isdir("./data/"):
    os.makedirs("./data/")
f = open("./data/" + EXPLANATION + ".npz", 'wb')
np.savez(f,
         inputs = rnn_input, labels = rnn_label,
         mins = MINS, maxs = MAXS, labelmins = LABELMINS, labelmaxs = LABELMAXS,
         timesteps = TIME_STEPS, outputsize = OUTPUT_SIZE,
         start_input = start_input, start_output = start_output,
         end_input = end_input, end_output = end_output,
         interval = INTERVAL, explanation = EXPLANATION)
f.close()